In [1]:
from bs4 import BeautifulSoup
import nltk
from nltk.corpus import stopwords
import re

In [3]:
import pandas as pd
df=pd.read_csv('/content/IMDB Dataset.csv')

In [4]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [6]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [7]:
def clean_text( raw_review ):
    review_text = BeautifulSoup(raw_review).get_text()       
    letters_only = re.sub("[^a-zA-Z]", " ", review_text) 
    words = letters_only.lower().split()                             
    stops = set(stopwords.words("english"))                  
    meaningful_words = [w for w in words if not w in stops]   
    return( " ".join( meaningful_words ))

In [8]:
df['cleaned_text'] = df.review.apply(lambda x: clean_text(x))

In [9]:
df

                                                  review  ...                                       cleaned_text
0      One of the other reviewers has mentioned that ...  ...  one reviewers mentioned watching oz episode ho...
1      A wonderful little production. <br /><br />The...  ...  wonderful little production filming technique ...
2      I thought this was a wonderful way to spend ti...  ...  thought wonderful way spend time hot summer we...
3      Basically there's a family where a little boy ...  ...  basically family little boy jake thinks zombie...
4      Petter Mattei's "Love in the Time of Money" is...  ...  petter mattei love time money visually stunnin...
...                                                  ...  ...                                                ...
49995  I thought this movie did a down right good job...  ...  thought movie right good job creative original...
49996  Bad plot, bad dialogue, bad acting, idiotic di...  ...  bad plot bad dialogue bad acting idiotic direc...
49997  I am a Catholic taught in parochial elementary...  ...  catholic taught parochial elementary schools n...
49998  I'm going to have to disagree with the previou...  ...  going disagree previous comment side maltin on...
49999  No one expects the Star Trek movies to be high...  ...  one expects star trek movies high art fans exp...

[50000 rows x 3 columns]

In [10]:
from sklearn.preprocessing import LabelEncoder

var_mod = ['sentiment']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i])

In [11]:
df

                                                  review  ...                                       cleaned_text
0      One of the other reviewers has mentioned that ...  ...  one reviewers mentioned watching oz episode ho...
1      A wonderful little production. <br /><br />The...  ...  wonderful little production filming technique ...
2      I thought this was a wonderful way to spend ti...  ...  thought wonderful way spend time hot summer we...
3      Basically there's a family where a little boy ...  ...  basically family little boy jake thinks zombie...
4      Petter Mattei's "Love in the Time of Money" is...  ...  petter mattei love time money visually stunnin...
...                                                  ...  ...                                                ...
49995  I thought this movie did a down right good job...  ...  thought movie right good job creative original...
49996  Bad plot, bad dialogue, bad acting, idiotic di...  ...  bad plot bad dialogue bad acting idiotic direc...
49997  I am a Catholic taught in parochial elementary...  ...  catholic taught parochial elementary schools n...
49998  I'm going to have to disagree with the previou...  ...  going disagree previous comment side maltin on...
49999  No one expects the Star Trek movies to be high...  ...  one expects star trek movies high art fans exp...

[50000 rows x 3 columns]

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

x = df['cleaned_text'].values
y = df['sentiment'].values


vectorizer = CountVectorizer(analyzer = "word",   \
                             tokenizer = None,    \
                             preprocessor = None, \
                             stop_words = None,   \
                             max_features = 5000)

train_data_features = vectorizer.fit_transform(x)


X_train,X_test,y_train,y_test = train_test_split(train_data_features,y,random_state=0, test_size=0.2)
print(X_train.shape)
print(X_test.shape)

(40000, 5000)
(10000, 5000)

In [14]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators = 200) 
forest = forest.fit( X_train, y_train )

In [15]:
prediction=forest.predict(X_test)

In [16]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, prediction)

0.8498

In [17]:
df_test=pd.read_csv('/content/Data Analyst - Test Data - US.csv')

In [19]:
df_test.head(20)

                                               Review        date     Location
0   I was very impressed with the resort.\n Great ...  2019/08/20    Sebastian
1   The rooms were nice the outside needs work als...  2019/08/20  Los Angeles
2   Great location! I have stayed at this hotel on...  2019/08/20      Georgia
3   The hotel was adequate for my stay. The strips...  2019/08/20          NaN
4   Great location, room was large and spacious. P...  2019/08/19  Palm Harbor
5   All the options for fun were great! Do wish th...  2019/08/19          NaN
6   Old. Musty. Motel. \n Bath need an update asap...  2019/08/19          NaN
7   Loved the layout of the hotel and the relaxing...  2019/08/19          NaN
8   My wife and I loved everything about it. It’s ...  2019/08/19          NaN
9   rooms were very small, was told i had a compli...  2019/08/19          NaN
10  Very clean and friendly and I love the locatio...  2019/08/19   California
11  Nice and comfortable good position near the st...  2019/08/19          NaN
12  Location was great, lobby area was nice but ro...  2019/08/19          NaN
13  Quiet and at a great location. \n Good control...  2019/08/19          NaN
14  El servicio super amables no todos en el buffe...  2019/08/19          NaN
15  Very nice and quiet and clean rooms. \n We wil...  2019/08/19      Redding
16  Rooms were clean, updated, and beds were comfo...  2019/08/19          NaN
17  The staff was exceptionally helpful and the pr...  2019/08/19          NaN
18  It was great for what we needed, a place to sl...  2019/08/19          NaN
19  rooms were clean. we had two room and were abl...  2019/08/19          NaN

In [37]:
df_test.isnull().sum()

Review        55
date           0
Location    4737
dtype: int64

In [38]:
df_test = df_test[df_test['Review'].notnull()]

In [39]:
df_test['cleaned_review'] = df_test.Review.apply(lambda x: clean_text(x))

In [40]:
df_test.head()

                                              Review  ...                                     cleaned_review
0  I was very impressed with the resort.\n Great ...  ...  impressed resort great staff main resort pool ...
1  The rooms were nice the outside needs work als...  ...  rooms nice outside needs work also free breakf...
2  Great location! I have stayed at this hotel on...  ...  great location stayed hotel last three trips n...
3  The hotel was adequate for my stay. The strips...  ...  hotel adequate stay strips bathtub useless fel...
4  Great location, room was large and spacious. P...  ...  great location room large spacious parking eas...

[5 rows x 4 columns]

In [42]:
x1 = df_test['cleaned_review'].values

In [43]:
vectorizer = CountVectorizer(analyzer = "word",   \
                             tokenizer = None,    \
                             preprocessor = None, \
                             stop_words = None,   \
                             max_features = 5000)

analysis_features = vectorizer.fit_transform(x1)

In [44]:
analysis_features.shape

(6393, 5000)

In [45]:
sentiment=forest.predict(analysis_features)

In [46]:
type(sentiment)

numpy.ndarray

In [47]:
df_test['sentiment']=sentiment

In [48]:
df_test

                                                 Review  ... sentiment
0     I was very impressed with the resort.\n Great ...  ...         0
1     The rooms were nice the outside needs work als...  ...         1
2     Great location! I have stayed at this hotel on...  ...         1
3     The hotel was adequate for my stay. The strips...  ...         0
4     Great location, room was large and spacious. P...  ...         1
...                                                 ...  ...       ...
6443  ·the staff were all so friendly. frank, the ch...  ...         0
6444         ·the internet barely worked or didn't work  ...         1
6445  ·the location was great.\n \n \n \n \n ·the be...  ...         1
6446  ·we were early for check in and the staff was ...  ...         1
6447  ·staff, free coffee, location and activities.\...  ...         1

[6393 rows x 5 columns]

In [50]:
df_test['sentiment'].value_counts()

1    4959
0    1434
Name: sentiment, dtype: int64

In [51]:
df_test['Location'].value_counts()

United States of America    116
New York                     34
San Jose                     19
California                   19
Canada                       16
                           ...
Venezuela                     1
Clinton, MD                   1
Estero,FL                     1
Rochester NY                  1
Ottawa, ca                    1
Name: Location, Length: 1078, dtype: int64

In [54]:
df_test.reset_index(drop=True, inplace=True)

In [55]:
country=[]
for i in range(len(df_test)):
  if df_test['sentiment'][i]==0:
    country.append(df_test['Location'][i])

In [61]:
import numpy as np
np.unique(np.array(country))

array(['Aalborg, Denmark', 'Albany NY', 'Albany, NY', 'Allentown, NJ',
       'Andover, MA', 'Angus,Scotland', 'Arizona', 'Atlanta',
       'Atlanta Georgis', 'Atlanta, GA', 'Auckland, New Zealand',
       'Austin, TX', 'Bay Area', 'Belfast Northern Ireland',
       'Bellevue, WA', 'Bensalem, US', 'Bermuda', 'Bethesda, MD',
       'Bethlehem, PA', 'Birmingham, AL', 'Birmingham, AL, US',
       'Birmingham, al', 'Boston', 'Boston, MA', 'Bradenton, FL',
       'Brick NJ', 'CA', 'CT.', 'California', 'Canada', 'Cardiff', 'Cary',
       'Catania, it', 'Chicago', 'Chicago, us', 'Chicago,Il',
       'Chula vista CA', 'Clarkdale, AZ', 'Cleveland, OH', 'Clover, SC',
       'Clovis, CA', 'Collegeville, PA', 'Concord, NH',
       'Crystal Beach, Ontario', 'DC', 'Dallas, Texas', 'Daytona',
       'Denver', 'Denver, CO', 'Destin, FL', 'Detroit',
       'Dicht bij Amsterdam', 'Dinuba California', 'England',
       'England UK', 'España', 'Estero,FL', 'Exton, PA',
       'Fernandina Beach, FL', 'Florida', 'Flushing, NY', 'Fort Collins',
       'Fort Lauderdale, Florida', 'Frankfurt, Germany',
       'Fresh Meadows, New York', 'Fresno, CA', 'Frisco, TX',
       'Fruitvale Tx.', 'Ft. Lauderdale', 'Ft. Myers', 'Gainesville VA',
       'Gainesville florida', 'Genova', 'Georgia', 'Gifu Japan',
       'Glasgow', 'Glasgow, UK', 'Guanajuato, México.', 'Guatemala',
       'Hamilton, ON, Canada', 'Harderwijk', 'Hawthorne, California, USA',
       'Hertfordshire', 'Hidson Valley, US', 'High Point, us',
       'Houston,TX', 'Huissen', 'Idaho', 'Illinois', 'Iowa', 'Irvine',
       'Irvine, CA', 'Jacksonville', 'Jacksonville fl',
       'Jacksonville, FL', 'Jacksonville, Florida', 'Jupiter',
       'Jupiter, FL', 'Kansas City', 'Kent, Ohio', 'Key Largo',
       'Key Largo, Florida', 'L.A', 'La quinta', 'Lake Buena Vista',
       'Lake Buena Vista - Orlando', 'Lake worth', 'Lamar SC',
       'Lancaster County, PA', 'Las Vegas, NV', 'Lehi',
       'Lehigh Acres Florida', 'Lincoln, CA', 'Livermore, Ca', 'London',
       'London Ontario', 'Los Angeles', 'Los Angeles, CA',
       'Loves Park, IL', 'Loxahatchee Fl', 'MILANO', 'Maine',
       'Mansfield, Texas', 'Maryland', 'Massachusetts',
       'Melbourne, Australia.', 'Mequon, Wi', 'Merlin, Oregon, us',
       'Miami', 'Miami, FL', 'Miami, FL, US', 'Miami, Fl.',
       'Miami, Florida', 'Midway, USA', 'Minnesota', 'Minster', 'Mission',
       'Monterey, US', 'Montreal', 'Montreal, Canada', 'Montreal, QC',
       'Montreal, ca', 'Montréal', 'Mukilteo, WA', 'Murrieta, CA', 'NC',
       'NJ', 'NY', 'NY NY', 'NYC', 'Nairobi', 'Naples', 'Nashville, TN',
       'Nashville, TN, USA', 'Nassau Bahamas', 'Nederland',
       'New Boston, MI', 'New Jersey', 'New York', 'New York, NY',
       'New-York', 'New-york', 'Newark', 'North Branford, CT.',
       'North Carolina', 'Northern California', 'Nova Scotia, Canada',
       'OS, Ms', 'Ocho Rios, Jamaica', 'Oldsmar, Fl', 'Olympia, Wa',
       'Orando FL', 'Oregon', 'Orlando', 'Orlando, FL', 'Ottawa',
       'Ottawa Ont', 'Ottawa Ontario', 'Oxnard, CA', 'Palm Bay FL',
       'Panama City', 'Parker, Colorado', 'Peterborough uk',
       'Philadelphia, PA', 'Philadelphia, us', 'Philippines',
       'Pikeville, Ky', 'Portland, OR', 'Portsmouth, UK', 'Puerto Rico',
       'RSM, USA', 'Ratingen', 'Regina, SK', 'Reno, NV', 'Reno, Nevada',
       'Rhode Island', 'Riverside, California', 'Rochester, NY',
       'Sacramento', 'Sacramento, CA', 'Saint John, NB Canada',
       'San Diego', 'San Diego, CA', 'San Francisco', 'San Jose',
       'San Jose, CA Silicone Valley', 'San Jose, Ca',
       'Santa Barbara, us', 'Santo Domingo', 'Saratoga new york',
       'Savannah, GA', 'Scotland', 'Scotts Valley', 'Seattle',
       'Seattle, WA', 'Sebastian', 'Short Hills, NJ',
       'Silicon Valley San Jose', 'Simi Valley, CA (USA)', 'Singapore',
       'So Cal', 'Southend-on-sea Essex', 'Spring, TX', 'Spring, tx',
       'St Barth', 'St Monans', 'St louis', 'St. Louis, MO', 'St. Pete',
       'Stafford, VA', 'Stockholm', 'Stuart, Florida', 'Stuttgart',
       'Tennessee', 'Terral, OK', 'Texas', 'Thunder Bay', 'Tokyo',
       'Toronto', 'Toronto, Canada', 'Toronto, ON', 'Tulare, ca', 'US',
       'Uk', 'Uk Midlands.', 'Union, NJ', 'United States of America',
       'Utah', 'Vancouver', 'Vancouver, BC', 'Vegas', 'Vero Beach',
       'Vinton, VA 24179', 'Virginia', 'WPB, FL', 'Walnut hill Illinois',
       'Warminster, Pa, us', 'Warren, RI', 'Washington', 'Washington, DC',
       'West Palm Beach', 'West Portsmouth, Ohio', 'West Salem, WI',
       'Western Australia', 'Westmont, IL, us', 'Wichita KS',
       'Willoughby, OH', 'Winnipeg', 'Wokingham, England',
       'Zionsville, Pa', 'california', 'cary, NC', 'huntington,NY',
       'las vegas', 'mexico', 'mississauga', 'nan', 'ponce inlet',
       'vittorio veneto'], dtype='<U28')

In [95]:
max_positive=df_test.groupby(["Location"]).sentiment.sum().reset_index()

In [98]:
np.argmax(np.array(max_positive['sentiment']))

929

In [101]:
max_positive.iloc[929]

Location     United States of America
sentiment                          98
Name: 929, dtype: object

In [114]:
max_positive_only=max_positive[max_positive['sentiment']!=0]

In [115]:
np.argmin(np.array(max_positive_only['sentiment']))

0

In [117]:
max_positive_only.iloc[0]

Location     2186
sentiment       1
Name: 0, dtype: object

In [104]:
df_test['negative'] = df_test.sentiment.apply(lambda x: 1 if(x==1) else -1)

In [105]:
max_negative=df_test.groupby(["Location"]).negative.sum().reset_index()

In [106]:
np.argmin(np.array(max_positive['sentiment']))

1

In [107]:
max_negative.iloc[1]

Location    Aalborg, Denmark
negative                  -1
Name: 1, dtype: object

In [112]:
len(df_test.Location.unique())

1079

In [119]:
max_negative

                                         Location  negative
0                                            2186         1
1                                Aalborg, Denmark        -1
2                                   Abbotsford BC         1
3                                            Agde         1
4                                 Aguadilla, P.R.         1
...                                           ...       ...
1073                                   warwick ny         1
1074  wyndham garden silicon valley ,san jose ca.         1
1075                                    yakima wa         1
1076                                           大阪         1
1077                                           東京         2

[1078 rows x 2 columns]